#table1 {
  width: 100%;
  border: 1px solid;
  margin-bottom: 20px;
}



.addButton {
  clear: both;
  margin-bottom: 50px;
}

.assign {
  background-color: greenyellow;
  color: black;
}

.deassign {
  background-color: red;
  color: whitesmoke;
}