#table1 {
  width: 100%;
  border: 1px solid;
  margin-bottom: 20px;
  height: 100px;
}

.buttons {
  clear: both;
  margin-bottom: 50px;
}

.assign {
  background-color: greenyellow;
  color: black;
}

.deassign {
  background-color: red;
  color: whitesmoke;
}

.shorten {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-toggle::after {
  display:none;
}

#resourceList thead th {
  text-align: center;
}

#resourceList tbody td {
  text-align: center;
  vertical-align: middle;
}