h4 {
  margin-bottom: 20px;
  color: blue;
}

#editRes {
  margin-top: 35px;
}

.data {
  margin-bottom: 30px;
}

.energy {
  margin-top: 15px;
}


legend {
  width: auto;
  /* color: blue; */
}

fieldset {
  border-top: 1px solid black;
}

.toLeft {
  margin-left: -16px;
}
