h4 {
  margin-bottom: 20px;
  color: blue;
}

#addRes {
  margin-top: 35px;
}

.data {
  margin-bottom: 30px;
}

.energy {
  margin-top: 15px;
}

strong {
  font-size: 13px;
}

/* input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
} */

.perform {
  color: black;
  background-color: greenyellow;
}